.glitch {
  color: white;
  font-size: 70px;
  position: relative;
  width: 400px;
  margin: 0 auto; }

@keyframes noise-anim {
  0% {
    clip: rect(38px, 9999px, 8px, 0); }
  5% {
    clip: rect(45px, 9999px, 18px, 0); }
  10% {
    clip: rect(13px, 9999px, 1px, 0); }
  15% {
    clip: rect(63px, 9999px, 75px, 0); }
  20% {
    clip: rect(85px, 9999px, 38px, 0); }
  25% {
    clip: rect(9px, 9999px, 38px, 0); }
  30% {
    clip: rect(78px, 9999px, 30px, 0); }
  35% {
    clip: rect(11px, 9999px, 97px, 0); }
  40% {
    clip: rect(52px, 9999px, 5px, 0); }
  45% {
    clip: rect(84px, 9999px, 13px, 0); }
  50% {
    clip: rect(13px, 9999px, 61px, 0); }
  55% {
    clip: rect(82px, 9999px, 32px, 0); }
  60% {
    clip: rect(44px, 9999px, 22px, 0); }
  65% {
    clip: rect(56px, 9999px, 12px, 0); }
  70% {
    clip: rect(100px, 9999px, 34px, 0); }
  75% {
    clip: rect(39px, 9999px, 17px, 0); }
  80% {
    clip: rect(33px, 9999px, 3px, 0); }
  85% {
    clip: rect(92px, 9999px, 73px, 0); }
  90% {
    clip: rect(28px, 9999px, 28px, 0); }
  95% {
    clip: rect(58px, 9999px, 9px, 0); }
  100% {
    clip: rect(49px, 9999px, 87px, 0); } }
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -2px 0 #e72e92;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(88px, 9999px, 68px, 0); }
  5% {
    clip: rect(88px, 9999px, 64px, 0); }
  10% {
    clip: rect(89px, 9999px, 33px, 0); }
  15% {
    clip: rect(64px, 9999px, 3px, 0); }
  20% {
    clip: rect(9px, 9999px, 70px, 0); }
  25% {
    clip: rect(49px, 9999px, 44px, 0); }
  30% {
    clip: rect(97px, 9999px, 69px, 0); }
  35% {
    clip: rect(18px, 9999px, 1px, 0); }
  40% {
    clip: rect(21px, 9999px, 75px, 0); }
  45% {
    clip: rect(85px, 9999px, 5px, 0); }
  50% {
    clip: rect(64px, 9999px, 82px, 0); }
  55% {
    clip: rect(100px, 9999px, 51px, 0); }
  60% {
    clip: rect(53px, 9999px, 68px, 0); }
  65% {
    clip: rect(98px, 9999px, 58px, 0); }
  70% {
    clip: rect(94px, 9999px, 37px, 0); }
  75% {
    clip: rect(2px, 9999px, 57px, 0); }
  80% {
    clip: rect(42px, 9999px, 98px, 0); }
  85% {
    clip: rect(21px, 9999px, 3px, 0); }
  90% {
    clip: rect(25px, 9999px, 26px, 0); }
  95% {
    clip: rect(26px, 9999px, 94px, 0); }
  100% {
    clip: rect(63px, 9999px, 64px, 0); } }
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 2px 0 #7efcfc;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

.card:not(.card-image, .card-content, .card-reveal) {
  columns: 2 200px;
  column-gap: 1rem; }
  .card:not(.card-image, .card-content, .card-reveal) div {
    width: 150px;
    background: #EC985A;
    color: white;
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: system-ui;
    font-weight: 900;
    font-size: 2rem; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(1) {
    height: 231px;
    line-height: 231px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(2) {
    height: 301px;
    line-height: 301px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(3) {
    height: 155px;
    line-height: 155px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(4) {
    height: 370px;
    line-height: 370px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(5) {
    height: 188px;
    line-height: 188px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(6) {
    height: 115px;
    line-height: 115px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(7) {
    height: 326px;
    line-height: 326px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(8) {
    height: 408px;
    line-height: 408px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(9) {
    height: 204px;
    line-height: 204px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(10) {
    height: 342px;
    line-height: 342px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(11) {
    height: 461px;
    line-height: 461px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(12) {
    height: 440px;
    line-height: 440px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(13) {
    height: 299px;
    line-height: 299px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(14) {
    height: 472px;
    line-height: 472px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(15) {
    height: 493px;
    line-height: 493px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(16) {
    height: 273px;
    line-height: 273px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(17) {
    height: 408px;
    line-height: 408px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(18) {
    height: 117px;
    line-height: 117px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(19) {
    height: 395px;
    line-height: 395px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(20) {
    height: 494px;
    line-height: 494px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(21) {
    height: 266px;
    line-height: 266px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(22) {
    height: 177px;
    line-height: 177px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(23) {
    height: 276px;
    line-height: 276px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(24) {
    height: 111px;
    line-height: 111px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(25) {
    height: 214px;
    line-height: 214px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(26) {
    height: 167px;
    line-height: 167px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(27) {
    height: 491px;
    line-height: 491px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(28) {
    height: 195px;
    line-height: 195px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(29) {
    height: 324px;
    line-height: 324px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(30) {
    height: 428px;
    line-height: 428px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(31) {
    height: 122px;
    line-height: 122px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(32) {
    height: 235px;
    line-height: 235px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(33) {
    height: 193px;
    line-height: 193px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(34) {
    height: 430px;
    line-height: 430px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(35) {
    height: 253px;
    line-height: 253px; }
  .card:not(.card-image, .card-content, .card-reveal) div:nth-child(36) {
    height: 475px;
    line-height: 475px; }

/*# sourceMappingURL=effects.css.map */
