html, body, h1 {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#app {
  background: #0a0a0a;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0.6)), to(rgba(0, 0, 0, 0.9))), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url("https://images.unsplash.com/photo-1506399558188-acca6f8cbf41?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=7118759521e3184778a3b5e010e202c6");
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url("https://images.unsplash.com/photo-1506399558188-acca6f8cbf41?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=7118759521e3184778a3b5e010e202c6");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

#wrapper {
  text-align: center;
}

.sub {
  color: #64dcdc;
  letter-spacing: 0em;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: 0em;
  /* Animation provies a slight random skew. Check bottom of doc
	for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff0080;
  /* Creates an initial clip for our glitch. This works in
		a typical top,right,bottom,left fashion and creates a mask
		to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
		with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00eeff, 2px 2px #ff0080;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(91px, 9999px, 64px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  5% {
    clip: rect(43px, 9999px, 73px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  10% {
    clip: rect(46px, 9999px, 37px, 0);
    -webkit-transform: skew(0.8deg);
            transform: skew(0.8deg);
  }
  15% {
    clip: rect(67px, 9999px, 78px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  20% {
    clip: rect(76px, 9999px, 62px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  25% {
    clip: rect(24px, 9999px, 95px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  30% {
    clip: rect(86px, 9999px, 24px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  35% {
    clip: rect(42px, 9999px, 73px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  40% {
    clip: rect(46px, 9999px, 21px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  45% {
    clip: rect(5px, 9999px, 5px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  50% {
    clip: rect(16px, 9999px, 67px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  55% {
    clip: rect(20px, 9999px, 66px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  60% {
    clip: rect(95px, 9999px, 75px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  65% {
    clip: rect(83px, 9999px, 47px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  70% {
    clip: rect(66px, 9999px, 50px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  75% {
    clip: rect(31px, 9999px, 8px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  80% {
    clip: rect(5px, 9999px, 59px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  85% {
    clip: rect(70px, 9999px, 47px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  90% {
    clip: rect(20px, 9999px, 98px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  95% {
    clip: rect(2px, 9999px, 6px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  100% {
    clip: rect(37px, 9999px, 21px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(91px, 9999px, 64px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  5% {
    clip: rect(43px, 9999px, 73px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  10% {
    clip: rect(46px, 9999px, 37px, 0);
    -webkit-transform: skew(0.8deg);
            transform: skew(0.8deg);
  }
  15% {
    clip: rect(67px, 9999px, 78px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  20% {
    clip: rect(76px, 9999px, 62px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  25% {
    clip: rect(24px, 9999px, 95px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  30% {
    clip: rect(86px, 9999px, 24px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  35% {
    clip: rect(42px, 9999px, 73px, 0);
    -webkit-transform: skew(0.67deg);
            transform: skew(0.67deg);
  }
  40% {
    clip: rect(46px, 9999px, 21px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  45% {
    clip: rect(5px, 9999px, 5px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  50% {
    clip: rect(16px, 9999px, 67px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  55% {
    clip: rect(20px, 9999px, 66px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  60% {
    clip: rect(95px, 9999px, 75px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  65% {
    clip: rect(83px, 9999px, 47px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  70% {
    clip: rect(66px, 9999px, 50px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  75% {
    clip: rect(31px, 9999px, 8px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  80% {
    clip: rect(5px, 9999px, 59px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  85% {
    clip: rect(70px, 9999px, 47px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  90% {
    clip: rect(20px, 9999px, 98px, 0);
    -webkit-transform: skew(0.15deg);
            transform: skew(0.15deg);
  }
  95% {
    clip: rect(2px, 9999px, 6px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  100% {
    clip: rect(37px, 9999px, 21px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(19px, 9999px, 1px, 0);
    -webkit-transform: skew(0.19deg);
            transform: skew(0.19deg);
  }
  5% {
    clip: rect(4px, 9999px, 55px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  10% {
    clip: rect(16px, 9999px, 11px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  15% {
    clip: rect(7px, 9999px, 55px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  20% {
    clip: rect(56px, 9999px, 96px, 0);
    -webkit-transform: skew(0.95deg);
            transform: skew(0.95deg);
  }
  25% {
    clip: rect(57px, 9999px, 29px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  30% {
    clip: rect(28px, 9999px, 7px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  35% {
    clip: rect(33px, 9999px, 65px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  40% {
    clip: rect(9px, 9999px, 75px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  45% {
    clip: rect(3px, 9999px, 84px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  50% {
    clip: rect(22px, 9999px, 91px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  55% {
    clip: rect(73px, 9999px, 66px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  60% {
    clip: rect(90px, 9999px, 61px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  65% {
    clip: rect(47px, 9999px, 18px, 0);
    -webkit-transform: skew(0.22deg);
            transform: skew(0.22deg);
  }
  70% {
    clip: rect(4px, 9999px, 58px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  75% {
    clip: rect(68px, 9999px, 74px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  80% {
    clip: rect(52px, 9999px, 92px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  85% {
    clip: rect(96px, 9999px, 3px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  90% {
    clip: rect(46px, 9999px, 64px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  95% {
    clip: rect(73px, 9999px, 64px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  100% {
    clip: rect(39px, 9999px, 89px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(19px, 9999px, 1px, 0);
    -webkit-transform: skew(0.19deg);
            transform: skew(0.19deg);
  }
  5% {
    clip: rect(4px, 9999px, 55px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  10% {
    clip: rect(16px, 9999px, 11px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  15% {
    clip: rect(7px, 9999px, 55px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  20% {
    clip: rect(56px, 9999px, 96px, 0);
    -webkit-transform: skew(0.95deg);
            transform: skew(0.95deg);
  }
  25% {
    clip: rect(57px, 9999px, 29px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  30% {
    clip: rect(28px, 9999px, 7px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  35% {
    clip: rect(33px, 9999px, 65px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  40% {
    clip: rect(9px, 9999px, 75px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  45% {
    clip: rect(3px, 9999px, 84px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  50% {
    clip: rect(22px, 9999px, 91px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  55% {
    clip: rect(73px, 9999px, 66px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  60% {
    clip: rect(90px, 9999px, 61px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  65% {
    clip: rect(47px, 9999px, 18px, 0);
    -webkit-transform: skew(0.22deg);
            transform: skew(0.22deg);
  }
  70% {
    clip: rect(4px, 9999px, 58px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  75% {
    clip: rect(68px, 9999px, 74px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  80% {
    clip: rect(52px, 9999px, 92px, 0);
    -webkit-transform: skew(0.52deg);
            transform: skew(0.52deg);
  }
  85% {
    clip: rect(96px, 9999px, 3px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  90% {
    clip: rect(46px, 9999px, 64px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  95% {
    clip: rect(73px, 9999px, 64px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  100% {
    clip: rect(39px, 9999px, 89px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  10% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  20% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  30% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  40% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  50% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  60% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  70% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  80% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  90% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  100% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  10% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  20% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  30% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  40% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  50% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  60% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  70% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  80% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  90% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  100% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
}
/*# sourceMappingURL=glitch.css.map */