/*body{*/

/*     background-color: blue;*/

/*}*/

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px;
    padding: 0 0.5em;
}

.ingredient-list a{
    display: block;
    height:100%;
    width:100%;

}

.ingredient-list a:hover{
    font-size: larger;
}

.btn_add_ingredient{
    margin-top:10px;
}

.file-field .file-path-wrapper{
    padding-left: 40px;
}

.file-field .btn, .file-field .btn-large, .file-field .btn-small {
    /*float: right;*/
}

.btn_my_modal{
    
}

.recipe_photo{
    /*height: 400px;*/
    /*width:600px;*/
}

.sub-button {
    /*width: auto;*/
    /*margin-top: 15px;*/
    /*font-size: 11px;*/
}

.modal{
   
}
/*.recipe_header{*/

/*    margin-top: 5px;*/

/*      background-color: yellow !important*/

/*}*/

#toast-container {
    min-width: 10%;
    top: 10%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}