/*body{*/

/*     background-color: blue;*/

/*}*/

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px;
    padding: 0 0.5em;
}

.recipe_photo{
    /*height: 400px;*/
    /*width:600px;*/
}

.sub-button {
    /*width: auto;*/
    /*margin-top: 15px;*/
    /*font-size: 11px;*/
}

.modal{
   
}
/*.recipe_header{*/

/*    margin-top: 5px;*/

/*      background-color: yellow !important*/

/*}*/
