@import "../compass/css3";

body {
    background-color: #000000;
}

.container {
    margin-top: 50px;
}

.parallax-window {
    background: transparent;
}


/* ############################# BRAND LOGO ICON FONT ##################################### */

@font-face {
    font-family: 'atari-logo';
    src: url('/static/fonts/atari-logo.eot?jd33wn');
    src: url('/static/fonts/atari-logo.eot?jd33wn#iefix') format('embedded-opentype'),
    url('/static/fonts/atari-logo.ttf?jd33wn') format('truetype'),
    url('/static/fonts/atari-logo.woff?jd33wn') format('woff'),
    url('/static/fonts/atari-logo.svg?jd33wn#atari-logo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'atari-logo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-atari_flaicon:before {
    content: "\e900";
    font-size: 50px;
}

.glitch {
    font-size: 50px !important;
}

/* #################### NAVBAR FONT #################### */

@font-face {
    font-family: 'AtarianSystem';
    src: url('/static/fonts/SFAtarianSystemV2V2.eot');
    /* IE9 Compat Modes */
    src: url('/static/fonts/SFAtarianSystemV2V2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/static/fonts/SFAtarianSystemV2V2.woff2') format('woff2'), /* Super Modern Browsers */
    url('/static/fonts/SFAtarianSystemV2V2.woff') format('woff'), /* Pretty Modern Browsers */
    url('/static/fonts/SFAtarianSystemV2V2.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/static/fonts/SFAtarianSystemV2V2.svg#svgFontName') format('svg');
    /* Legacy iOS */
}


/* ############################# ##################################### */

#wrapper {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 40px
}

#dev_wrapper {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px
}

#page_title {
    color: #ffffff;
}

.roundElement {}

nav {
    background-color: transparent !important;
}

nav ul a:hover {
    font-size: 1.30rem;
    color: #26a69a;
    /*#26a69a;*/
}


.card-title,
.nav_atari_title {
    font-family: 'AtarianSystem', Fallback, sans-serif !important;
    font-weight: normal;
    /*font-size: 70px;*/
    text-transform: uppercase;
    white-space: nowrap;
}


img {
    border: solid 1px white;
    margin: 0;
    padding: 0;
}

.img_preview img {
   width:100px; 
   height:100px;
}

.card {
    height: 100% !important;
}

.card-reveal {
    height: auto;
}

.card-reveal .col .row {
    margin-bottom: 5px;
}

.card-title#mycard_title {
    font-size: 40px;
    background-color: #0000006b
}

.collapsible-header i {
    font-size: 2rem;

}


.screenshot img {
    width: 200px;
    /*height:150px;*/
    float: right;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
}

.artistnames {
    float: left
}

.card.card-reveal.description {
    margin-top: 50px;
}

.close_card_icon {
    background-color: #c10808;
    color: white;
}


nav .brand-logo .atari_logo {
    width: 50%;
    height: 50%;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px;
    padding: 0 0.5em;
}


.btn-floating.btn_add_artist {
    margin-top: 15px;
}


.developer-list a:hover {
    font-size: larger;
}

#btn_edit_artist,
#btn_edit_artist.i {
    padding: 0px;
    margin-right: 40px;
    margin-bottom: 15px;

}

#btn_delete_artist,
#btn_delete_artist.i {
    padding: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.collapsible span.badge {
    margin-left: 8px !important;
    margin-top: 5px;
}

nav ul a {
    font-size: 1.25rem;
}

.file-field .file-path-wrapper {
    padding-left: 40px;
}

.dev_game_images {
    float: left;
}

.sidenav {
    background-color: #000000;
}

.sidenav li>a {
    color: #ffffff;
}

nav ul {
    color: #ffffff;
}

#toast-container {
    min-width: 10%;
    top: 10%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}

#myloader {
    top: 10%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}


footer {
    text-align: center;
    letter-spacing: 0px;
}

footer p {
    color: #84979e !important;

}

/*MEDIA QUERIES*/

@media(max-width: 575px) {

    #wrapper {
        padding: 15px;
    }

    .screenshot img {
        width: 240px;
    }

    ul.collapsible-header {
        padding-left: 0px;
    }

    .collapsible-header i {
        font-size: 1.6rem;
    }

    .btn-floating.btn_add_artist {
        margin-top: -2px;
    }
    .img_preview img {
        margin-left: 50px;
    }

}
