{% extends 'base.html' %} {% block content %}

<h5>Add Recipe</h5>
<div class="row">
  <form action="{{ url_for('create_recipe')}}" method="POST" class="col s12">

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">create</i>
        <input id="input_text" name="recipe_name" type="text" data-length="15" class="validate">
        <label for="input_text">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">subject</i>
        <textarea id="textarea2" class="materialize-textarea" data-length="30"></textarea>
        <label for="textarea2">Description</label>
      </div>
    </div>
    <!--<div class="row">-->
    <!--  <div class="input-field col s12">-->
    <!--    <i class="material-icons prefix">filter_list</i>-->
    <!--    <select id="category" name="category_name">-->
    <!--      <option value="" disabled selected>Choose the type</option>-->
    <!--      {% for category in categories %}-->
    <!--        <option value="{{category.category_name}}">{{category.category_name}}</option>-->
    <!--      {% endfor %}-->
    <!--    </select>-->
    <!--    <label>Type of Dish</label>-->
    <!--  </div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit recipe
    <i class="material-icons right">send</i>
    </button>
    </div>
  </form>
</div>
{% endblock %}
