<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/effects.css')}}" type="text/css" />
    <title>Art of Atari</title>
</head>

<body>
    <!--<div class="parallax">-->
    <!--<div class="parallax-main" data-parallax="scroll" data-z-index="-2" data-image-src="{{ url_for('static', filename='images/background01.png') }}">-->

    

<div class="main_wrapper">
    <!--<div class="parallax-window" data-parallax="scroll" data-image-src="/static/images/background01.png">-->
   <header>
        <nav class="z-depth-0">
            <div class="nav-wrapper">
                <div class="row">
                   <div class = "s10">
                       <div class="row">
                          
                        <a href="{{url_for('get_games')}}" class="brand-logo">
                             <div class="col s3">
                            <span class="atari_logo"><i class="icon-atari_flaicon hide-on-small-only" data-text=""></i></span>
                            </div>
                             <div class="col s9">
                            <span class="nav_atari_title glitch" data-text="Art of Atari">Art of Atari</span>
                            </div>
                            
                        </a>
                        
                        </div>
                   </div>
                  <div class = "s2">
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <!--<li><a href="{{url_for('new_game')}}" class="btn-floating btn-large halfway-fab waves-effect waves-light teal">-->
                            <!--            <i class="material-icons">add</i>-->
                            <!--          </a></li>-->
                            <li><a href="{{url_for('new_game')}}" class="waves-effect waves-light">New Game</a></li>
                            <li><a href="{{url_for('get_games')}}" class="waves-effect waves-light">Games</a></li>
                            <li><a href="{{url_for('get_developers')}}" class="waves-effect waves-light">Artists</a></li>
                        
                        </ul>
                        <ul class="sidenav" id="mobile-demo">
                            <li><a href="{{url_for('new_game')}}">New Game</a></li>
                            <li><a href="{{url_for('get_games')}}">Games</a></li>
                            <li><a href="{{url_for('get_developers')}}">Artists</a></li>
                        </ul>
                   </div>
                </div>
            </div>
        </nav>
    </header> 
        <div class="container">

        {% block content %}                 
    
        
    
        {% endblock %}
        </div>

    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
    <script>
        $(document).ready(function() {
            // $('.parallax').parallax(); 
            $('.collapsible').collapsible();
            $('input#input_text, textarea#textarea2').characterCounter();
            $('select').formSelect();
            $('.sidenav').sidenav();
            $('.modal').modal();
            $('.tooltipped').tooltip();
        });

        function getFocus() {
            setTimeout(function() {
                $('#developer_field_modal').focus();
            }, 500);
        }

        function displaySpinner() {
            $("#myloader").html(`  <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>`);

        }

        function displayToast(myString, myString2) {
            var str = myString;
            var str2 = myString2
            M.toast({ html: str.valueOf() + ' ' + str2.valueOf(), displayLength: 5000 })
        }

        function goBack() {
            window.history.back();
        }

        function deleteGame(id) {
            request = $.ajax({
                url: "/delete_game" + "/" + id,
                type: "GET",
                data: $('#myDeleteModal').modal('close'),
                complete: setTimeout(displayToast("Game", "deleting..."), 3000)
            });
        }

        function deleteDeveloper(id) {
            request = $.ajax({
                url: "/delete_developer" + "/" + id,
                type: "GET",
                data: $('#myDeleteModal').modal('close'),
                complete: displaySpinner()

            });
            // request.done(
            //     $.ajax({
            //         url: "/get_developers",
            //         type: "GET",
            //         data: "developer_id",
            //         complete: displayToast("Developer", "deleted!")
            //     })
            // )

        }

        function userPrompt(id, name) {
            $("#myDeleteModal").modal('open');
            $("#delete_name").empty();
            $("#delete_name").append(name);

            $("#delete_game_btn").click(function() {
                $(this).data('clicked', true);
                displaySpinner();
                deleteGame(id);
            });

            $("#delete_developer_btn").click(function() {
                $(this).data('clicked', true);
                deleteDeveloper(id)
            });
        }


        function reloadList() {
            request = $.ajax({
                url: "/modal_create_developer",
                type: "POST",
                data: $("#developer_field_modal"),
            });

            request.done(function(data) {
                $('.developer_section').css("background-color", "#FFFF9C").effect("pulsate", { times: 6 }, 2000).animate({ backgroundColor: "#FFFFFF" }, 6500);
                $('.developer_section').html(data)
                $('select').formSelect();
                displayToast("Developer", "added!");
            });
        };

        // function callModal() {
        //     $('p.activator').mouseover(function(e) {
        //         $(this).trigger('#callModal');
        //     });
        // }
        
    </script>


      <footer>
        <p class="inline-block center">Font made from <a href="http://www.onlinewebfonts.com">Online Web Fonts</a> is licensed by CC BY 3.0</p>
       <p class="inline-block center">Site developed by Neil Larkin ©2019</p>
    </footer>  

</body>

</html>
