<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_recipes')}}" class="brand-logo">My Recipes</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('new_recipe')}}">New Recipe</a></li>
                    <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
                    <li><a href="{{url_for('get_ingredients')}}">Ingredients</a></li>
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="{{url_for('new_recipe')}}">New Recipe</a></li>
                    <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
B                   <li><a href="{{url_for('get_ingredients')}}">Ingredients</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('input#input_text, textarea#textarea2').characterCounter();
            $('select').formSelect();
            $('.sidenav').sidenav();
            $('.modal').modal();
            $('.tooltipped').tooltip();
            //   $('select').material_select();
        });

        function refreshList() {
            request = $.ajax({
                url: "/modal_create_ingredient",
                type: "POST",
                data: $("#ingredient_name_modal"),
            });

            request.done(function(data) {
                $('.mysection').css("background-color", "#FFFF9C").effect("pulsate", { times: 6 }, 2000).animate({ backgroundColor: "#FFFFFF" }, 6500);
                $('.mysection').html(data)
                $('select').formSelect();
            });
        };

        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>
