<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_recipes')}}" class="brand-logo">My Recipes</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('new_recipe')}}">New Recipe</a></li>
                    <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
                    <li><a href="{{url_for('get_ingredients')}}">Ingredients</a></li>
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="{{url_for('new_recipe')}}">New Recipe</a></li>
                    <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
                    <li><a href="{{url_for('get_ingredients')}}">Ingredients</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('input#input_text, textarea#textarea2').characterCounter();
            $('select').formSelect();
            $('.sidenav').sidenav();
            $('.modal').modal();
            $('.tooltipped').tooltip();
            //   $('select').material_select();

        });

        function getFocus() {
            setTimeout(function() {
                $('#ingredient_field_modal').focus();
            }, 500);
        }

        function refreshList() {
            request = $.ajax({
                url: "/modal_create_ingredient",
                type: "POST",
                data: $("#ingredient_field_modal"),
            });

            request.done(function(data) {
                $('.mysection').css("background-color", "#FFFF9C").effect("pulsate", { times: 6 }, 2000).animate({ backgroundColor: "#FFFFFF" }, 6500);
                $('.mysection').html(data)
                $('select').formSelect();
                displayToast("Ingredient", "Added!");
            });
        };

        function callModal() {
            $.ajax({
                url: "/get_ingredients",
                type: "GET",
                data: "ingredient_id",
            });
        }

        function goBack() {
            window.history.back();
        }


        function deleteRecipe(id) {
            request = $.ajax({
                url: "/delete_recipe" + "/" + id,
                type: "GET",
                data: $('#myDeleteModal').modal('close')
            });
            request.done(
                $.ajax({
                    url: "/get_recipes",
                    type: "GET",
                    data: "recipe_id"
                })
            )

        }

        function deleteIngredient(id) {
            request = $.ajax({
                url: "/delete_ingredient" + "/" + id,
                type: "GET",
                data: $('#myDeleteModal').modal('close')
            });
            request.done(
                $.ajax({
                    url: "/get_ingredients",
                    type: "GET",
                    data: "ingredient_id"
                })
            )
        }

        function promptUser(id, name) {
            $("#myDeleteModal").modal('open');
            $("#delete_name").empty();
            $("#delete_name").append(name);

            $("#delete_recipe_btn").click(function() {
                $(this).data('clicked', true);
                deleteRecipe(id);
                displayToast("Recipe", "Deleted!");
            });

            $("#delete_ingredient_btn").click(function() {
                $(this).data('clicked', true);
                deleteIngredient(id);
                displayToast("Ingredient", "Deleted");
            });


        }

        function displayToast(myString, myString2) {
            // setTimeout(function() {}, 50000);
            var str = myString; var str2 = myString2
            str.valueOf()
            M.toast({ html: str.valueOf()+ ' ' + str2.valueOf(), displayLength: 5000})
        }
    </script>
</body>

</html>
