{% extends 'base.html' %} {% block content %}
<ul class="collapsible" data-collapsible="accordion">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header">
            <div class="col s1">
                <i class="material-icons">expand_more</i>   
            </div>
            <div class="col s2">
                <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small">Delete</a>
                <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
            </div>
            <div class="recipe_header col s9">
               <strong>{{recipe.recipe_name}}</strong>
            </div>
        </div>
        <div class="collapsible-body">
            <span><strong>Dish: </strong>{{recipe.category_name}}</span>
            <br>
            <span><strong>Ingredients: </strong>{{recipe.ingredient_name}}</span>
        </div>
    </li>
    {% endfor %}
</ul>
<div class="row">
    <a href="{{url_for('add_recipe')}}" class="btn-floating btn-small waves-effect waves-light red">
    <i class="material-icons">add</i>Add a recipe</a>
</div>

{% endblock %}
