{% extends 'base.html'%} {% block content %}

<!--<div class="row">-->

    <div class="row">
        <div class="col s10">
            <h5>Developers</h5>
            <h6>Programmers, designers and artists</h6>
            <div id="myloader"></div>
        </div>
        <div class="col s2">
            <a href="#dev_modal" onclick="getFocus()" class="btn waves-effect waves-light modal-trigger btn_add_developer">
                <i class="material-icons right"></i>Add</a>
            <form action="{{ url_for('create_developer')}}" method="POST" class="col s12">
                <div id="dev_modal" class="modal">
                    <div class="modal-content">
                        <h6>Enter developers name:</h6>
                        <div class="input-field col s9">
                            <i class="material-icons prefix">create</i>
                            <input id="input_text" name="developer_name" type="text" data-length="50" class="validate" autofocus>
                            <label for="input_text">Developers</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light red modal-close" type="reset" value="Cancel">Cancel</button>
                        <button class="btn waves-effect waves-light modal-close" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<!--</div>-->
    <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            {% for developer in developers %}
            <li class="col-s12 developer-list">
                <div class="collapsible-header">
                    <a href="{{url_for('edit_developer', developer_id=developer._id)}}">
                        <div class="col s10">
                            <div class="developer_header">
                                <strong>{{developer.developer_name}}</strong>
                            </div>
                        </div>
                    </a>
                    <div class="col s2">
                        <a href="#myDeleteModal" onclick="userPrompt('{{developer._id}}', '{{developer.developer_name}}')" class="modal-trigger">
                        <i class="large material-icons tooltipped" data-position="top" data-tooltip="Delete developer">
                            delete_forever</i></a>
                    </div>
                </div>
            </li>
        

        <div id="myDeleteModal" class="modal">
            <div class="modal-content">
                <h6>Do you want to delete <strong><span id="delete_name"></span></strong>?</h6>
            </div>
            <div class="modal-footer">
                <a href="" class="waves-effect waves-light btn btn_large modal-close ">Cancel</a>
                <a href="" id="delete_developer_btn" class="waves-effect waves-light btn btn_large red ">Delete</a>
            </div>
        </div>
        {% endfor %}
</ul>
    </div>




{% endblock %}
