{% extends 'base.html' %} {% block content %}

<h5>Edit Recipe</h5>
<div class="row">
  <!--<form action="{{ url_for('create_recipe') }}" method="POST" class="col s12">-->
<form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">create</i>
        <input id="input_text" name="recipe_name" type="text" data-length="50" class="validate" value="{{recipe.recipe_name}}">
        <label for="input_text">Title</label>
      </div>
      
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">create</i>
        <input id="input_text" name="description" type="text" data-length="100" class="validate" value="{{recipe.description}}">
        <label for="input_text">Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">filter_list</i>
        <select id="category" name="category_name">
              <!--<option value="" disabled selected>Choose dish type</option>-->
              {% for cat in categories %}
                    {% if cat.category_name == recipe.category_name%}
                    <option value="{{cat.category_name}}" selected>{{cat.category_name}}</option>
                    {% else %}
                    <option value="{{cat.category_name}}" >{{cat.category_name}}</option>
                {% endif %}
              {% endfor %}
            </select>
        <label>Choose dish type</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">filter_list</i>
        <select id="ingredient" name="ingredient_name" multiple>
          <!--<option value="" disabled selected>Choose ingedients</option>-->
          {% for item in ingredients %}
              {% if item.ingredient_name in recipe.ingredient_name %}
                <option value="{{item.ingredient_name}}" selected>{{item.ingredient_name}}</option>
                {% else %}
                <option value="{{item.ingredient_name}}">{{item.ingredient_name}}</option>
                {% endif %}
           {% endfor %}
        </select>
        <label>Choose Ingredients</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">create</i>
        <input id="input_text" name="method" type="text" data-length="500" class="validate" value="{{recipe.method}}">
        <label for="input_text">Method</label>
      </div>
    </div>

    <div class="row">
      <button class="btn waves-effect waves-light red" type="submit">Update Recipe</button>
    </div>
  </form>

</div>
{% endblock %}
