{% extends 'base.html' %} {% block content %}

<h5 id="page_title">Edit Game</h5>
<div class="row">
  <div class="col s12" id="wrapper">
   <form action="{{ url_for('update_game', game_id=game._id) }}" method="POST" class="col s12" enctype="multipart/form-data">

    <!--TITLE-->
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">create</i>
        <input id="input_text" name="game_title" type="text" data-length="50" class="validate" value="{{game.game_title}}" autofocus>
        <label for="input_text">Title</label>
      </div>
    </div>

    <!--YEAR SELECT LIST-->
    <div class="row">
      <div class="input-field col s6 m2">
        <i class="material-icons prefix">date_range</i>
        <select id="year_menu" name="game_year">
            <option value="" disabled selected></option>
            {% for year in years %}
              {% if year.year_date in game.game_year %}
                <option value="{{year.year_date}}" selected>{{year.year_date}}</option>
                {% else %}
                <option value="{{year.year_date}}">{{year.year_date}}</option>
              {% endif %}
            {% endfor %}
          </select>
        <label>Choose a year</label>
      </div>
    </div>

  

    <!--COVER IMAGE UPLOAD-->
    <div class="row">
      <div class="file-field input-field col s12 m6">
        <i class="material-icons prefix">image</i>
        <div class="file-path-wrapper col s10">
          <label>Cover image</label>
    
          <input class="file-path validate" type="text" value="{{game.cover_image}}">

        </div>
        <div class="btn-small col s2">
          <span>File</span>
          <input type="file" name="cover_image">
        </div>
      </div>
        <img src="{{ url_for('file', filename=game.cover_image) }}" style="width:100px; height:100px"/>
    </div>

    <!--DEVELOPERS SELECT LIST-->
    <div class="row">
      <div class="input-field col s10 developer_section">
        <i class="material-icons prefix">filter_list</i>
        <select id="developer_menu" name="developer_name" multiple>
            <option value="" disabled selected></option>
            {% for developer in developers %}
              {% if developer.developer_name in game.developer_name %}
                <option value="{{developer.developer_name}}" selected>{{developer.developer_name}}</option>
                {% else %}
                <option value="{{developer.developer_name}}">{{developer.developer_name}}</option>
                {% endif %}
             {% endfor %}
          </select>
        <label>Select an artist</label>
      </div>
      <div class="input-field col s2">
        <div class="row">

          <span class="col s12 ">
          <a href="#developer_modal" onclick="getFocus()" class="btn-floating btn-small waves-effect waves-light red tooltipped modal-trigger" data-position="top" data-tooltip="Add new artist to collection">
          <i class="material-icons">add</i></a>
           <label><span class="right-align hide-on-small-only">Add new artist</span></label>
          </span>
         
        </div>
      </div>
    </div>

    <!--SCREENSHOT IMAGE UPLOAD-->
    <div class="row">
      <div class="file-field input-field col s12 m6">
        <i class="material-icons prefix">image</i>
        <div class="file-path-wrapper col s10">
          <label>Screenshot</label>
          <input class="file-path validate" type="text" value="{{game.screenshot_image}}">
        </div>
        <div class="btn-small col s2">
          <span>File</span>
          <input type="file" name="screenshot">
        </div>
      </div>
        <img src="{{ url_for('file', filename=game.screenshot_image) }}" style="width:100px; height:100px"/>
    </div>

    <!--DESCRIPTION-->
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">create</i>
        <textarea id="textarea2" name="description" class="materialize-textarea" value="{{game.description}}">{{game.description}}</textarea>
        <label for="textarea2">Description</label>
      </div>
    </div>

    <!--BUTTONS-->
    <div class="row right">
      <button class="btn waves-effect waves-light blue" type="reset" onclick="goBack()" value="Cancel">Cancel</button>
      <button class="btn waves-effect waves-light red" type="submit" onclick="displayToast('Game','saving...')">Save</button>
    </div>
  </form>
</div>
  <div id="developer_modal" class="modal">
    <div class="modal-content">
      <h6>Enter new artist in to the database:</h6>
      <div class="input-field">
        <i class="material-icons prefix">create</i>
        <input id="developer_field_modal" name="developer_name" type="text" data-length="50" class="validate">
        <!--<label for="developer_field_modal">Artist</label>-->
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <button class="modal-close btn waves-effect waves-light" type="submit">Cancel</button>
        <button class="modal-close btn waves-effect waves-light red" type="submit" onclick="reloadList()">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
