{% extends 'base.html' %} {% block content %}

<h5>Edit Artist</h5>
<div class="row">

    <form action="{{ url_for('update_developer', developer_id=developer._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">create</i>
                <input id="input_text" name="developer_name" type="text" data-length="50" class="validate" value="{{developer.developer_name}}">
                <label for="input_text">Artist</label>
            </div>
        </div>

        <div class="row right">
                <button class="btn waves-effect waves-light" type="reset" onclick="goBack()" value="Cancel">Cancel</button>
                <button class="btn waves-effect waves-light red" type="submit">Save</button>
        </div>
    </form>

</div>
{% endblock %}
