{% extends 'base.html' %} 

{% block content %}

<div class="row">
   
    {% for game in games %}

    <div class=" col s12 m6">
        <div class="card medium hoverable" >
            <div class="card-image waves-effect waves-block waves-light">
                
           </div>

            <div class="card-reveal ">
                <div id="myloader"></div>
                    <div class="col s12 ">   
                        <div class="row">
                            <span class="card-title grey-text text-darken-4">{{game.game_title}}<i class="close_card_icon material-icons right">close</i></span>
                        </div>
                        <div class="row">
                            <span><strong>({{game.game_year}})</strong></span>
                         </div>
                        <div class="row">
                            <span class="artistnames"><strong>Artists: </strong><a href="#">{{game.developer_name|join(', ')}}</a></span>
                        
                        </div>
                    </div>
                <span class="screenshot"><img src="{{ url_for('file', filename=game.screenshot_image) }}" width="300px"> </span>
    
                <span class="description"><p class ="left-align " style="word-wrap: break-word;">{{game.description}}</p></span>
    
                <!--BUTTONS-->
                <div class="row col s12 ">

                    <a href="#myDeleteModal" onclick="userPrompt('{{game._id}}', '{{game.game_title}}')" class="waves-effect waves-light btn btn_small red modal-trigger right">Delete</a>
                    <a href="{{url_for('edit_game', game_id=game._id)}}" class="waves-effect waves-light btn btn_small right blue">Edit</a>
                    <a class="btn-floating btn-large orange pulse left" href="https://store.steampowered.com/app/400020/Atari_Vault/" target="_blank" class="pulse">Play</a>
                </div>
            </div>
        </div>
    </div>
 {% endfor %}
 
    <!--DELELTE MODAL-->
    <div id="myDeleteModal" class="modal">
        <div class="modal-content">
            <h6>Do you want to delete <strong><span id="delete_name"></span></strong>?</h6>
        </div>
        <div class="modal-footer">
            <a href="" class="waves-effect waves-light btn btn_large blue modal-close">Cancel</a>
            <a href="" id="delete_game_btn" class="waves-effect waves-light btn btn_large red">Delete</a>
        </div>
    </div>

</div>

{% endblock %}
