{% extends 'base.html' %} {% block content %}

<h5>New Recipe</h5>
<div class="row">
  <form action="{{ url_for('create_recipe') }}" method="POST" class="col s12" enctype="multipart/form-data">

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">create</i>
        <input id="input_text" name="recipe_name" type="text" data-length="50" class="validate">
        <label for="input_text">Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">create</i>
        <input id="description_field" name="description" type="text" data-length="100" class="validate">
        <label for="description_field">Short Description</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">filter_list</i>
        <select id="category" name="category_name">
              <option value="" disabled selected>Choose dish type</option>
              {% for cat in categories %}
                  <option value="{{cat.category_name}}">{{cat.category_name}}</option>
              {% endfor %}
            </select>
        <label>Choose dish type</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s11 mysection">
        <i class="material-icons prefix">filter_list</i>
        <select id="ingredient_menu" name="ingredient_name" multiple>
          <option value="" disabled selected>Choose ingredients</option>
          {% for item in ingredients %}
            <option id="myoption" value="{{item.ingredient_name}}">{{item.ingredient_name}}</option>
           {% endfor %}
        </select>
        <label>Choose Ingredients</label>
      </div>
  
      <div class="input-field col s1">
        <a href="#myModal" class="btn-floating btn-small waves-effect waves-light blue tooltipped modal-trigger" data-position="top" data-tooltip="Add new ingredient">
        <i class="material-icons">add</i></a>
      </div>

    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">create</i>
        <textarea id="textarea2" name="method" class="materialize-textarea" data-length="500"></textarea>
        <label for="textarea2">Method</label>
      </div>
    </div>

    <div class="file-field input-field col s12">
      <i class="material-icons prefix">image</i>
      <div class="file-path-wrapper col s10">
        <input class="file-path validate" type="text">
      </div>
      <div class="btn col s2">
        <span>File</span>
        <input type="file" name="recipe_image">
      </div>
    </div>

    <div class="row">
      <button class="btn waves-effect waves-light red" type="reset" onclick="goBack()" value="Cancel">Cancel</button>
      <button class="btn waves-effect waves-light" type="submit">Save</button>

    </div>
  </form>

  <!--<form id="myForm" action="{{ url_for('modal_create_ingredient') }}" method="POST" class="col s12">-->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <h6>Enter ingredient:</h6>
      <div class="input-field col s9">
        <i class="material-icons prefix">create</i>
        <input id="ingredient_name_modal" name="ingredient_name" type="text" data-length="50" class="validate">
        <label for="ingredient_name_modal">Ingredient</label>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <button class="modal-close btn waves-effect waves-light" type="submit" onclick="refreshList()">Submit</button>
      </div>
    </div>
  </div>
  <!--</form>-->
</div>
{% endblock %}
