{% extends 'base.html' %} {% block content %}
<ul class="collapsible" data-collapsible="accordion">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header">

            <div class=" recipe-header col s9">
                <i class="material-icons">expand_more</i><strong>{{recipe.recipe_name}}</strong>
                <!--{% for category in categories %}-->
                <!--    {{category.category_name}}-->
                <!--{% endfor %}-->
            </div>
        </div>
        <div class="collapsible-body">
            <!--<span><strong>Description: </strong>{{recipe.description}}</span><br>-->
            <!--<span><strong>Method: </strong> {{recipe.method}}</span><br>-->
            <span><strong>Ingredients: </strong>{{recipe.ingredient_name}}, {{recipe.ingredient_name2}}</span>

            <!--{% for category in categories %}-->
            <!--<span><strong>Type</strong>{{category.category_name}}</span><br>-->
            <!--{% endfor %}-->
        </div>
    </li>
    {% endfor %}
</ul>
<div class="row">
    <a href="{{url_for('add_recipe')}}" class="btn-floating btn-small waves-effect waves-light red">
    <i class="material-icons">add</i>Add a recipe</a>
</div>

{% endblock %}
